.header {
  min-height: 144px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 2px;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  &__logo {
    color: #30124e;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
  }

  &__phone {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__number {
    color: #30124e;
    text-decoration: none;
    margin-left: 20px;
  }

  &__dropdown-links {
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    right: 0;
    padding: 1rem;

    &:hover {
      visibility: visible;
      opacity: 1;
    }
  }

  &__dropdown {
    display: none;

    @media (max-width: 576px) {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__dropdown .header__menu:focus ~ nav,
  .header__menu:hover ~ nav {
    visibility: visible;
    opacity: 1;
  }

  &__dropdown-link {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
    transition: 0.2s;

    &:focus,
    &:hover {
      outline: none;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__menu {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &:focus,
    &:hover {
      outline: none;
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
