.team {
  background: #150433;
  padding: 0 200px;

  @media (max-width: 576px) {
    padding: 10px;
  }

  &__grid {
    transform: translateY(-125px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 30px;
  }
}
