.testimonials {
  background: #fcfcfc;
  width: 100%;

  &__wrapper {
    transform: translateY(-125px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (max-width: 576px) {
      transform: translateY(-150px);
    }
  }

  &__circles {
    position: absolute;
    left: 0;
    top: 0;

    @media (max-width: 1180px) {
      display: none;
    }
  }

  &__circle {
    position: absolute;

    &--1 {
      left: 245px;
      top: 230px;
    }

    &--2 {
      left: 415px;
      top: 365px;

      @media (max-width: 1320px) {
        display: none;
      }
    }

    &--3 {
      left: 1140px;
      top: 278px;

      @media (max-width: 1208px) {
        display: none;
      }
    }

    &--4 {
      left: 1000px;
      top: 360px;
    }

    &--5 {
      left: 1295px;
      top: 385px;

      @media (max-width: 1385px) {
        display: none;
      }
    }

    &--6 {
      left: 1284px;
      top: 168px;

      @media (max-width: 1385px) {
        display: none;
      }
    }

    &--7 {
      left: 108px;
      top: 340px;
    }
  }

  &__photo-wrapper {
    width: 460px;
    padding-bottom: 460px;
    position: relative;
    overflow: hidden;

    @media (max-width: 576px) {
      width: 100%;
      padding-bottom: 100%;
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &__quotes {
    width: 92px;
    height: 72px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/after.svg');
    margin-top: -35px;
    z-index: 999;
  }

  &__controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 1rem;
  }

  &__text {
    font-family: Noticia Text;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    max-width: 754px;
    box-sizing: border-box;
    padding: 1rem;

    @media (max-width: 736px) {
      font-size: 34px;
      max-width: 60%;
    }

    @media (max-width: 667px) {
      font-size: 30px;
      max-width: 60%;
    }

    @media (max-width: 576px) {
      font-size: 20px;
      max-width: 60%;
    }
  }

  &__button {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #f61067;
    transition: 0.2s;

    &:hover,
    &:focus {
      outline: none;
      background-color: #f61067;

      .testimonials__button-arrow {
        filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(204deg)
          brightness(111%) contrast(100%);
      }
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__button-arrow {
    transition: 0.2s;
    filter: invert(21%) sepia(81%) saturate(6327%) hue-rotate(328deg)
      brightness(97%) contrast(99%);
  }

  &__credentials {
    font-size: 18px;
    line-height: 29px;
    font-weight: 900;
  }

  &__name {
    font-weight: 800;
    color: #f61067;
  }

  &__company {
    font-weight: normal;
    color: #30233d;
  }
}
